// Fonts
$url-font: "Roboto-Regular";
$table-heading-font: "Roboto-Regular";
$logo-font: "Montserrat-Regular";

// Colors
$primary-text-color: #555555;
$secondary-text-color: #aaaaaa;
$unimportant-text-color: #cccccc;
$disabled-text-color: #bfbfbf;
$disable-button-color: #e0e0e0;
$accent-color: #eb4a42;
$light-gray: #eaeaea;
$light-white: #fcfbfa;

// Space:
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$xs-size: 0.8rem;

// Fonts:
$font-small: 1.4rem;
$font-regular: 1.6rem;
$font-large: 2.2rem;

$border-radius: 0.3rem;
$border-width: 0.3rem;

$break-point: 45rem;
